<div class="logo-section">
    <a href="index.html"><img src="images/pineapple_bun.png"/></a>
    <p class="d-none d-sm-block">Hello! Taiwan, St. Kitts and Nevis</p>
    <form>
        <input type="search" name="search" placeholder="Search"/>
        <input type="submit" value="search" class="material-icons"/>
        <div class="search-autocomplete display-none">
            <ul>
                <li>suggestion keyword</li>
            </ul>
        </div>
    </form>
    <p>
        <a id="contact" href="contact.html"><span class="d-none d-sm-inline-block">Contact Me</span><span class="material-icons">mail</span>
        </a>
    </p>
    <!-- Button trigger modal -->
    <p id="login-or-user-info">
        <button type="button" class="btn btn-primary btn-login" data-bs-toggle="modal" data-bs-target="#loginModal">
            LOGIN
        </button>
    </p> 
</div>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">LOGIN</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="modal-form flex-fill d-flex flex-column align-items-center" role="form" method="POST">
                <input type="hidden" name="_token" value="">
                <div class="form-group col-6">
                    <label class="control-label">E-Mail Address</label>
                    <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="Enter Email">
                </div>
                <div class="form-group col-6">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Enter Password">
                </div>
                <div class="form-group col-6">
                    <button type="submit" class="btn btn-success mt-4 col-12">Login</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script>
      if($.cookie("name") && $.cookie("name") !== null) {
        $('#login-or-user-info').html(`<span class="material-icons-outlined">account_circle</span>`);
      }

      var loginModal = new bootstrap.Modal(document.getElementById('loginModal'));
      $('.modal-form').on('submit', function(){
          event.preventDefault();
          firebase.auth().signInWithEmailAndPassword($('.modal-form #email').val(), $('.modal-form #password').val())
            .then((userCredential) => {
                console.log(userCredential);
                loginModal.hide();
                $.cookie("name", userCredential.user.email);
                $('#login-or-user-info').html(`<span class="material-icons-outlined">account_circle</span>`);
            })
            .catch((error) => {
                console.log(error);
                alert('login failed!');
                loginModal.hide();
            });
      })
  </script>