<div class="logo-section">
    <a href="index.html"><img src="images/pineapple_bun.png"/></a>
    <p>Hello! St. Kitts and Nevis</p>
    <form>
        <input type="search" name="search" placeholder="Search"/>
        <input type="submit" value="search" class="material-icons"/>
        <div class="search-autocomplete display-none">
            <ul>
                <li>suggestion keyword</li>
            </ul>
        </div>
    </form>
    <p>
        <a href="contact.html">Contact Me<span class="material-icons">mail</span>
        </a>
    </p>
</div>