<ul>
    <li class="btn-main">
        <a href="index.html">Home</a>
    </li>
    <li class="btn-main" onmouseover="mouseover_on_nav_item(this)" onmouseout="mouseout_on_nav_item(this)">
        <a href="team.html">Our team</a>
        <div class="nav-submenu" onmouseover="mouseover_on_nav_item(this)">
            <ul>
                <li>
                    <span class="material-icons-outlined">person</span>
                    <a href="#">Ivan one</a>
                </li>
                <li>
                    <span class="material-icons-outlined">person</span>
                    <a href="#">Ivan two</a>
                </li>
                <li>
                    <span class="material-icons-outlined">person</span>
                    <a href="#">Ivan three</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="btn-main" onmouseover="mouseover_on_nav_item(this)" onmouseout="mouseout_on_nav_item(this)">
        <a href="#">Projects</a>
        <div class="nav-submenu" onmouseover="mouseover_on_nav_item(this)">
            <ul>
                <li>
                    <span class="material-icons-outlined">task</span>
                    <a href="http://www.nevisrelaymarathon.com/">Nevis Relay Marathon</a>
                </li>
                <li>
                    <span class="material-icons-outlined">task</span>
                    <a href="https://opendata.foreign.gov.kn/free-virtual-programming-class/">Free Virtual Programming Class</a>
                </li>
                <li>
                    <span class="material-icons-outlined">task</span>
                    <a href="project.html">EAT Local Competition</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="btn-main">
        <a href="about.html">About</a>
    </li>
</ul>